body{
    margin: 0;
    padding: 0;
    background-color: #64877e;

}

.site-content {
    height: 100vh;
    width: 85vw;

}

*{
    font-family: Rubik, sans-serif;
    color:black;

}

nav{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;

}

.brand{
    font-size: 3vw;
    font-family: Rubik, sans-serif;
    margin-left: 1vw;
    margin-top: 1vh;

}

.nav-item{
    margin-top: 5vh;
    padding: 2vw;
    font-size: 1vw;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.content{
    text-align: Top;

}
.content h1,h2,h3 {
    padding:0;
    margin:0;
    text-shadow: 10px 10px 60px black;
}
.content h2{
    font-size: 3vw;
    color: black;
    position: fixed;
    top:5px;
    align-items: center;
}

button{
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    border-radius: 50px;
    border: 2px solid brown;
    background-color: transparent;
    box-shadow: 0px 15px 20px black;
    position: absolute;

}
button:hover{
    background-color: brown;
}
.site-content .clicks .post button {
    right: 1px;
    bottom: 1px
    
}

.site-content .nav-item button{
    padding: 10px;
    margin: 10px;
    top: 10px;
    
}
