html{
	font-family: Lato;
	background-color: #64877e;
}

h1{
   text-align: center;
}

.logout {
    background-color: #bab9d5c5;
    border: none;
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    position: fixed;
    left: 1px;
    top: 1px;
}

.logout:hover {
  background-color: #4bd14f; /* Green */
  color: white;
}
.postbutton {
    background-color: #bab9d5c5;
    border: none;
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    position: fixed;
    right: 1px;
    bottom: 1px;
}

.postbutton:hover {
  background-color: #4bd14f; /* Green */
  color: white;
}
