<html>
  <head>
    <title>Bicker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Update Profile</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Name" name="username" id="username" value="{{
          request.form.username }}">
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
      <form action="" method="post">
        <input type="text" placeholder="Bio" name="bio" id="bio" value="{{
          request.form.bio }}">
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
      <a href="{{ url_for('profile_page') }}" style = "color: #bc7db9;">back to profile</a>
    </div>
  </body>
</html>