<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicker</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel = "stylesheet" href = "stylefront.css">
</head>
<body>
    
    <nav>
        <div class = "nav-left">
            <img src="bickerlogo.png" alt="Bicker Logo" class = "logo">
            <ul>
                <li><a href = "frontpage.html">Home</a></li>
            </ul>
        </div>

        <div class = "nav-middle">
            Bicker
        </div>
        <div class = "nav-right"> 
            <div class = "search-box">
                <img src = "searchicon.png" alt = "search icon">
                <input type = "text" placeholder = "Search">
            </div>


        </div>
    </nav>

    <div class="container">
        <!--Left Sidebar-->

        <div class="left-sidebar">
            <div class="important-links">
                <!--IGNORE THIS LINE UNTIL WE DEAL WITH FRIENDS FEATURE-->
                <a href="#"><img src = "friendsicon.png" alt = "friends icon">Friends</a>
            </div>
        </div>

        <!--Main Content-->
        <div class="main-content">
            <div class="write-post-container">
                <div>
                    <p>Placeholder User</p>
                </div>
            </div>

            <div class="post-input-container">
                <textarea name = "post-input" id = "post-input" placeholder = "What's on your mind?" rows = 3></textarea>

            
            </div>

            <!--duplicating this post container will create multiple posts-->
            <div class="post-container">
                <div class="timestamp">

                    <!--figure out a way to get the actual time of the post-->
                    <span>October 5, 2022, 7:53 pm</span>
                </div>

                <p class = "post-text">This is example post text.</p>

                <!--IGNORE THIS DIV UNTIL INTERACTING WITH POSTS IS NECESSARY-->
                <div class="post-row">
                    <div class = "activity-icons">
                        <div><img src = "like.png"></div>
                        <div><img src = "comments.png"></div>
                        <div><img src = "share.png"></div>
                    </div>
                </div>

            </div>
            
        </div>
        

        <!--Right Sidebar-->
        <div class="right-sidebar"></div>
    </div>

</body>
</html>