<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bicker</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>

<div class="login-form">
  <form action="" method="post">
    <h1>Welcome to Bicker!</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
      </div>
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    <div class="action">
      <a href = "{{ url_for('create_account') }}">Create Account</a>
    
    </div>
  
</div>


</body>
</html>
