<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bicker</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="./style.css">

</head>
<body>

<div class="login-form">
  <form>
    <h1>Welcome to Bicker!</h1>
    <div class="content">
      <div class="input-field">
        <input type="username" name = "username" placeholder="Username">
      </div>
      <div class="input-field">
        <input type="password" name = "password" placeholder="Password">

    <div class="action">
      <a href = "/createaccount.html"><button>Create Account</button></a>
      <a href = "/mainpage.html"><button>Sign in</button></a>
    </div>
  </form>
</div>


</body>
</html>
