<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel = "stylesheet" href = "style.css" />
    </head>
    <body>
            <h1> Welcome to Bicker!</h1>
            <div class = "generaltext"> Please log in to continue. </div>
            <form action = "/login" method = "post">
                <div class = "usernameentry"> Username: <input type = "text" name = "username" style="background-color:#bab9d5c5" /></div>
                <div class = "passwordentry"> Password: <input type = "password" name = "password" style="background-color:#bab9d5c5" /></div>
                <div class = "loginbutton"> <input type = "submit" value = "Log in" /></div>
            </form>



    </body>
</html>