<html>
  <head>
    <title>Search for Another User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  </head>
  <body>
    <div class="container">
      <h1>Search Results</h1>
      <br> <br>

      <h2>Relevant Users:</h2>

      <div class = "searched_users">
      {% for row in userlist %}
        <h3>
          <a href = "{{ url_for('frontpage') }}">
          {{ row[0] }}
          </a>
        </h3>
      {% endfor %}
      </div>

      <br>
      <h1> /////////////////////////////////// </h1>
      <br>

      <h2>Relevant Posts:</h2>

      <div class = "searched_posts">
      {% for row in searchpostlist %}

        <h3>
          
          {{ row[1] }} -<a href = "{{ url_for('frontpage') }}"> (posted by {{row[2]}})</a>
          
        </h3>
      {% endfor %}
      </div>

    </div>
  </body>
</html>